schema-example.xsd

<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema" targetNameSpace="http://www.myproject.com/Project" xmlns:tns="http://www.myproject.com/project" elementFormDefault="qualified">
	<element name="project" type="tns:project" />
	<complexType name="project">
		<sequence>
			<element name="name" type="string" />
			<element name="age" type="int" />
			<element name="email" type="string" />
			<element name="gender" type="string" />
			<element name="phone" type="string" />
		</sequence>
	</complexType>
</schema>
